# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# These owners will be the default owners for everything
*             @ugns/engineering @ugns/contributors

# UnderGrid Network Services must review any changes to Makefiles
**/Makefile   @ugns/engineering
**/Makefile.* @ugns/engineering

# UnderGrid Network Services must review any changes to GitHub actions
.github/*     @ugns/engineering
